# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.tlog
/.vs
*.pdb
*.log
*.tlog
/build
*.tlog
/bzip2/x64
*.tlog
/bzip2/x64
*.log
*.log
*.tlog
*.tlog
*.tlog
/game-music-emu/x64
/game-music-emu/x64
/gdtoa/x64
/tools/fixrtext/Release
/tools/lemon/Build
/tools/re2c/Build
/tools/updaterevision/x64
/x64
/dumb/vc6
/bzip2/x64
